<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="scroll.component.html" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../scroll/scroll.component.scss" />
  </head>
  <body>
    <div class="logos">
      <div class="logos-slide">
        <img *ngFor="let logo of repeatedLogos" [src]="logo" alt="Logo" />
      </div>
    </div>

    <script>
      var copy = document.querySelector(".logos-slide").cloneNode(true);
      document.querySelector(".logos").appendChild(copy);
    </script>
  </body>
</html>