<p-galleria
[value]="images"
[responsiveOptions]="responsiveOptions"
[containerStyle]="{ 'max-width': '640px', 'background-color': '#fff' }"
[numVisible]="5"
>
  <!-- Plantilla para las imágenes grandes -->
  <ng-template #item let-item>
    <img [src]="item.itemImageSrc" style="width: 100%" alt="{{ item.alt }}" />
  </ng-template>

  <!-- Plantilla para las miniaturas -->
  <ng-template #thumbnail let-item>
    <img [src]="item.thumbnailImageSrc" alt="{{ item.alt }}" />
  </ng-template>
</p-galleria>
