<ul class="layout-menu">
    <!-- Iterate over the categories to display the menu items -->
    <ng-container *ngFor="let categoria of model; let i = index;">
        <li app-menuitem *ngIf="!categoria.separator" [item]="categoria" [index]="i" [root]="true">
            <!-- Nested items for each category -->
            <ul *ngIf="categoria.items?.length">
                <ng-container *ngFor="let item of categoria.items">
                    <li [routerLink]="item.routerLink" [ngClass]="{'menu-item': true}">
                        <i class="fa-solid fa-shield"></i> {{ item.label }}
                    </li>
                </ng-container>
            </ul>
        </li>
        <li *ngIf="categoria.separator" class="menu-separator"></li>
    </ng-container>

    <!-- Instagram link and image -->
    <li>
        <a href="https://www.instagram.com/joa.spretz/">
            <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'banner-primeblocks' : 'banner-primeblocks-dark'}}.png" alt="Prime Blocks" class="w-full mt-3"/>
        </a>
    </li>
</ul>
